body{
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Times New Roman", Times, serif;
}
.navbar ul{
  list-style: none;
  background: black;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar li{
  display: inline-block;
}
.navbar a{
  text-decoration: none;
  color: "#fff";
  width:100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.navbar a:hover{
  background: white;
}
slider{
  overflow: hidden;
}
.slider figure{
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
}
.slider figure img{
  width: 20%;
  float: left;
}
